---
import Layout from "./Layout.astro";
import type { RecipeFrontmatter } from "../models/recipes.types";
import Header from "../components/Header/Header.component";
import RecipeInfos from "../components/RecipeInfos/RecipeInfos.component";
import RecipeIngredients from "../components/RecipeIngredients/RecipeIngredients.component";
import RecipeSteps from "../components/RecipeSteps/RecipeSteps.component";

export interface Props {
  frontmatter: RecipeFrontmatter;
}
const { frontmatter } = Astro.props;
const {
  title,
  thumbnail,
  type,
  vegan,
  description,
  ingredients,
  portions,
  steps,
} = frontmatter;
---

<!doctype html>
<Layout>
  <Header small />
  <div class="z-1 m-7 flex flex-col gap-8">
    <RecipeInfos
      title={title}
      description={description}
      thumbnail={thumbnail}
      type={type}
      vegan={vegan}
    />
    <RecipeIngredients
      ingredients={ingredients}
      portions={portions}
      client:load
    />
    <RecipeSteps steps={steps} />
  </div>
  <div>
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-white-green"></div>
    <div
      class="absolute top-0 right-0 left-0 h-100 bg-linear-to-b from-light-blue
        to-white-green"
    >
    </div>
    <slot />
  </div></Layout
>
